.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__group
        = current_user.groups
      .chat-main__group-info__left-box__user
        .chat-main__group-info__left-box__user__member="member : "
        .chat-main__group-info__left-box__user__name
          = current_user.name
    .chat-main__group-info__right-box
      = link_to edit_group_path(current_user) do
        .edit-button="Edit"
  .message-list
    = render @messages